<div class="row">
  <div class="col-sm-12 center-block">
    <%= form_tag ferries_path(anchor: 'main'), method: 'get' do %>
    <%= hidden_field_tag :search %>
    <div class="form-group">
      <div class="input-group input-group-lg">
        <div class="input-group-addon date"><span class="glyphicon glyphicon-calendar"><span></div>
        <%= text_field_tag :time, nil, class: "datepicker form-control", placeholder: "Pick a date" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
        </span>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-sm-4 col-xs-8 center-block">
    <%= form_tag ferries_path(anchor: 'main'), method: 'get' do %>
      <%= hidden_field_tag :search %>
      <%= hidden_field_tag :time, Date.today %>
      <%= submit_tag "View today's schedule", :name => nil, class: "btn btn-default btn-block" %>
    <% end %>
  </div>
</div>