<% @title = "About Us" %>
<% @description = "Learn more about the Washington Island Ferry Line in Door County, Wisconsin, meet our captains and get details on our fleet." %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Learn More About the Island and Our Ferry Line...</h1>
        <h2>From the Tip of Door County’s Peninsula—Visit Washington Island.</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8">
            <%= image_tag 'header-about.jpg', class: "header-img" %>
            <h1>Ferry History</h1>
            <p>When you reach the end of Highway 42, at the tip of Wisconsin’s Door County peninsula, you’ll find Northport Pier and the Washington Island Ferry Line.</p>

            <p>The Washington Island Ferry Line was started in 1940 with two existing wooden ferries. Over the years steel ferries were added and today the line boasts <a href="/fleet">modern, Coast Guard-approved vessels</a> that make up to 25 round trips a day during high season and two round trips per day in winter.</p>

            <p>After vehicles and passengers are safely on board at the Northport ferry dock, the ferry will embark on a 30-minute ride past Plum, Pilot and Detroit Islands. This area is filled with history. You will be making the same passage as the Native Americans who paddled their canoes from island to island, French explorers who came to the area and schooners that traveled this passage a century ago. Relax and enjoy the ride!</p>

            <h2>Our Crew</h2>
            <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" style="max-width: 325px">
            <div class="carousel-inner" role="listbox">
              <div class="item active"><%= image_tag 'crew-1-sm.jpg' %></div>
              <div class="item"><%= image_tag 'crew-2-sm.jpg' %></div>
              <div class="item"><%= image_tag 'crew-3-sm.jpg' %></div>
              <div class="item"><%= image_tag 'crew-4-sm.jpg' %></div>
              <div class="item"><%= image_tag 'crew-5-sm.jpg' %></div>
              <div class="item"><%= image_tag 'crew-6-sm.jpg' %></div>
            </div>
          </div>
          </div>

          <hr class="visible-xs visible-sm">

          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'plum-island-lg.jpg' %>
                <p class="caption">Plum Island Lighthouse, circa 1890s</p>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'mary-arni-lg.jpg' %>
                <p class="caption">Mary and Arni J. Richter in 1979</p>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'arni-richter-lg.jpg' %>
                <p class="caption">The late Arni J. Richter, ferry line founder</p>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'pilothouse-lg.jpg' %>
                <p class="caption">A view from the wheelhouse during a Death’s Door crossing</p>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'christening-lg.jpg' %>
                <p class="caption">Arni J. Richter christened the Arni J. Richter ferry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
