<% @title = "Bird Watching on the Island" %>
<% @description = "Enjoy bird watching near Washington Island! Take the Washington Island Ferry and add fun and excitement to your Door Country, Wisconsin vacation!" %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Bird Watching Beyond the Tip of Door County’s&nbsp;Peninsula...</h1>
        <h2>Birding on Washington Island and Rock&nbsp;Island.</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8">
            <%= image_tag 'header-birding.jpg', class: "header-img" %>
            <p>The area’s natural beauty is enhanced by the number and variety of birds found on the islands. Washington Island is on one of the main north/south migration routes, making it an excellent place for bird watching. In the summer, birds from South and Central America are seen and in the winter birds from the Arctic and Canada await discovery. The month of May is an exceptional month for birding on Washington Island, but there are opportunities all year-round. Birders will enjoy the <a href="http://doorislandsbirdfest.org/">Door Islands Bird Festival</a> held annually in June.</p>
            <p><%= link_to "Download Bird Guide", '/downloads/birdguide.pdf', :class => "btn btn-default" %></p>
            <p><a href="/ride-ferry">Start your journey</a> today!</p>

            <hr>

            <h2>Birding FAQs</h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      I’d love to visit Washington Island, but how do I get there?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>Our ferries leave the mainland from our Northport dock which is at the end of Highway 42. Take State Highway 42 or 57 to Sister Bay, then continue north on Highway 42 to the very end, where the highway meets Port des Morts, or Death's Door Passage (about 2 miles east of Gills Rock).</p>
                    <p><a href="/washington-island-ferry" class="btn btn-default">Washington Island Ferry Schedule</a></p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What is the best time of year for birding?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    Our ferries leave the mainland from our Northport dock which is at the end of Highway 42. Take State Highway 42 or 57 to Sister Bay, then continue north on Highway 42 to the very end, where the highway meets Port des Morts, or Death's Door Passage (about 2 miles east of Gills Rock).
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Are there places for public shore access?
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    Yes—where roads end at the water, and at several island parks: Percy Johnson County Park, Jackson Harbor Ridges, Rock Island State Park, Schoolhouse Beach, Jacobsen’s Museum at Little Lake and Sand Dunes Beach.
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <h2>Birding on Washington Island</h2>
            <ul>
              <li>Most of the land on the island is privately owned, but all of the birds can be easily observed from the shoulder of the roads and in our public areas.</li>
              <li>Look for waterfowl from the ferry dock in Detroit Harbor or at Jackson Harbor.</li>
              <li>Park on Henning Road off of Lobdells Point Road and walk the Heritage Nature Trail to see woodland birds and wildflowers. (A field guide for the trail and birding checklists are available in the nearby Welcome Center.)</li>
              <li>Look for herons at Little Lake Park.</li>
              <li>Watch the treetops for birds at Washington Harbor’s scenic overview at the end of Dock Road.</li>
              <li>At the Farm Museum, watch for butterflies, hummingbirds, swallows and bluebirds.</li>
              <li>Mountain Park has a lookout tower with a view of the chain of islands (Grand Traverse) leading to Michigan’s Upper Peninsula. Scan the tree tops for birds.</li>
              <li>At Percy Johnson Eastside Park, view Hog Island Wildlife Refuge. Large colonies of gulls, cormorants, waterfowl, and several blue herons nest on Hog Island and can be seen with binoculars. Also, observe the 400 million-year-old Paleozoic era fossils in the limestone rocks on this shore. During fall and spring migrations, shore birds and ducks rest on the shore. The white-cedar wetlands on Hemlock Drive and Lakeview Road are good spots to find warblers and vireos.</li>
              <li>Grassland-nesting birds are attracted to our meadows. By early August, many of these birds have begun to migrate south. To observe these birds, safely park your car on the shoulder of the road. Your car makes a good blind.</li>
              <li>Most roads that end at the shore have a public access to the water for views of Green Bay or Lake Michigan.</li>
            </ul>

            <a href="/washington-island-ferry" class="btn btn-default btn-lg">Washington Island Ferry Schedule</a>

            <hr>

            <h2>Birding on Rock Island</h2>
            <p>Rock Island State Park has miles of excellent shoreline and hiking trails where both waterfowl and upland birds are found. Access to the park is by either private watercraft or the <a href="/rock-island-ferry">passenger ferry Karfi</a> from Jackson Harbor’s State Dock. Visit the <a href="http://dnr.wi.gov/topic/parks/name/rockisland/" target="_blank">website for Rock Island State Park</a> for additional trail maps and campsite reservation information.</p>

            <a href="/rock-island-ferry" class="btn btn-green btn-lg">Rock Island Ferry Schedule</a>

            <hr>

            <h2>Birding on Plum Island</h2>
            <p>Plum Island (plumb in the middle of the Door) has an abandoned Coast Guard facility on the island’s northeast side, an abandoned light keeper’s home near the range lights and an abandoned structure on the SW corner that once housed the equipment for the Plum Island fog horn.</p>
            <p>The main light on Plum Island, built in 1897, burns a steady red atop a 65-foot tower made of bolted iron sections. Its location is adjacent to the former keeper’s home, also built in the 1890s. This house, now with holes in the roof and rotting wooden trim, was home to light keepers and their families until the light was automated in the late 1950s.</p>
            <p>Look for gulls, cormorants, swans and other waterfowl, and bald eagles in the Plum Island-Northport Pier area. A bald eagle is often perched atop one of the tall poles near the old fog signal building. Like Pilot Island, the island is federally owned and not accessible.</p>

            <hr>

            <h2>Birding on Pilot Island</h2>
            <p>Pilot Island has two structures. First, the keeper’s home with a light tower on top and second, a generator and machinery storage building. The light structure was built in 1858 and it became the scene of a multiple shipwreck in October 1892 when the Forest, A.P. Nichols, and J.E. Gilmore each were blown ashore during a terrific storm over a two-week period.</p>
            <p>Once covered with lush, green cedars, Pilot Island’s trees have been destroyed by the population of cormorants. Their high-powered guano killed most of the vegetation. Like Plum Island, the island is federally owned and not accessible.</p>

          </div>

          <hr class="visible-xs visible-sm">

          <div class="col-md-4">
            <%= image_tag 'heron-lg.jpg' %>
            <p class="caption">Blue Heron</p>
            <%= image_tag 'swan-lg.jpg' %>
            <p class="caption">Mute Swan</p>
            <%= image_tag 'cedar-waxwing-lg.jpg' %>
            <p class="caption">Cedar Waxwing</p>
            <%= image_tag 'cardinal-lg.jpg' %>
            <p class="caption">Cardinal</p>
            <%= image_tag 'pelican-lg.jpg' %>
            <p class="caption">White Pelicans</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
