<% @title = "Cherry Train" %>
<% @description = "Find Cherry Train Tour information, schedules and rates for unique tours of Door County's Washington Island in beautiful northeast Wisconsin." %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Cherry Train...</h1>
        <h2>Take a Guided Tour of Washington Island, off the Tip of Door County.</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8">
            <%= image_tag 'navigator-lg.jpg', :class => 'header-img' %>

            <p>After you ride the ferry to Washington Island, relax in style on the Island’s original open-air tram tour: the Cherry Train Tour. Enjoy our 15-mile, 1-1/2 to 2-hour narrated tour, highlighting island features and attractions.</p>

            <h1>Cherry Train Schedule and Prices</h1>
            <p>All tours depart from and return to the Island Ferry Dock. If desired, tickets may be purchased at the Northport Pier ticket booth on the mainland prior to boarding the ferry.</p>
            <p><a href="http://cherrytrain.com">Cherry Train official website</a></p>
            <table class="table table-striped">
              <tr>
                <th>Dates</th>
                <th>Tour Times</th>
              </tr>
              <tr>
                <td>May 12 – June 28, 2018</td>
                <td>11:00 am, 1:00 pm</td>
              </tr>
              <tr>
                <td>June 29 – August 19, 2018</td>
                <td>11:00 am, 12:00 pm, 1:30 pm, 2:30 pm</td>
              </tr>
              <tr>
                <td>August 20 – October 21, 2018</td>
                <td>11:00 am, 1:00 pm</td>
              </tr>

            </table>
            <p>Allow a minimum drive of 1 to 1-1/2 hours from Sturgeon Bay to the ferry.</p>
            <a class="btn btn-default" href="/downloads/cherry-train-2017.pdf"><i class="fa fa-print"></i> Printable map and schedule</a>
            <hr>
            <h2>Cherry Train Tour Ticket Prices</h2>
            <p>Tickets can be purchased at the Washington Island Ferry docks.</p>
            <%= render 'shared/credit_cards' %>
            <table class="table">
              <tr>
                <th colspan="2">Cherry Train Tour Only (Ferry not included)</th>
              </tr>
              <tr>
                <td>Adult</td>
                <td>$16.00</td>
              </tr>
              <tr>
                <td>Child (ages 6-11)</td>
                <td>$7.00</td>
              </tr>
              <tr>
                <td>Child (ages 5 and under)</td>
                <td>FREE</td>
              </tr>
              <tr>
                <th colspan="2">Combo Tickets (Washington Island Ferry plus Cherry Train Tour)</th>
              </tr>
              <tr>
                <td>Adult</td>
                <td>$29.50</td>
              </tr>
              <tr>
                <td>Child (ages 6-11)</td>
                <td>$14.50</td>
              </tr>
              <tr>
                <td>Child (ages 5 and under)</td>
                <td>FREE</td>
              </tr>
            </table>
            <p><em>No animals allowed on the tour.</em></p>
          </div>

          <hr class="visible-xs visible-sm">

          <div class="col-md-4">
            <h1>Tours Stop at Several Island Attractions</h1>
            <p>The Cherry Train Tour route typically makes three or four stops—of the tour guide’s choosing—from a list that includes many historical highlights including (1) the “Up the Road” (Downtown), (2) Stavkirke Church, (3) the Art & Nature Center, (4) Schoolhouse Beach, and (5) the Farm Museum</p>
            <div class="row">
              <div class="col-sm-12">
                <%= image_tag 'cherry-train-map-lg.jpg' %>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'stavkirke-2018.jpg' %>
                <p class="caption">Stavkirke Church</p>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'schoolhouse-beach-lg.jpg' %>
                <p class="caption">Schoolhouse Beach</p>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'farm-museum-lg.jpg' %>
                <p class="caption">Farm Museum</p>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'art-center-lg.jpg' %>
                <p class="caption">The Art and Nature Center</p>
              </div>
              <div class="col-sm-6 col-md-12">
                <%= image_tag 'cherry-train-kids-lg.jpg' %>
                <p class="caption">All aboard the Cherry Train!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
