<% @title = "Island Events and Activities" %>
<% @description = "Washington Island has activities for everyone. Take the Washington Island Ferry to make the most of your Door County, Wisconsin vacation!" %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Exciting Events are Always Happening on Washington&nbsp;Island...</h1>
        <h2>From the Tip of Door County’s Peninsula—Visit Washington Island.</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-5">
            <h1>Island Area Attractions...</h1>
            <ul>
              <li><a target="_blank" href="http://washingtonisland-wi.com/category/events/">Island Chamber Event List</a></li>
              <li><a target="_blank" href="http://www.washingtonisland.com/visitors-guide/events/">Island Visitors Guide</a></li>
              <li><a href="/birding">Bird Watching</a></li>
              <li><a href="/kayak">Kayaking</a></li>
              <li><a target="_blank" href="http://deathsdoorbbq.com">Death's Door BBQ</a></li>
              <li><a target="_blank" href="http://doorcounty.com/where-to-dine/fish-boils">Fish Boils</a></li>
            </ul>
          </div>
          <div class="col-md-7">
            <iframe width="100%" height="360" src="https://www.youtube.com/embed/oUKVkQZZNYw?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <a href="/cherry-train"><%= image_tag 'cherry-train-attraction.jpg' %></a>
          </div>
          <div class="col-md-6">
            <a href="http://www.washingtonislandmusicfestival.com/" target="_blank"><%= image_tag 'music-fest.jpg' %></a>
          </div>
          <div class="col-md-6">
            <a href="http://dnr.wi.gov/topic/parks/name/rockisland/" target="_blank"><%= image_tag 'rock-island.jpg' %></a>
          </div>
          <div class="col-md-6">
            <a href="http://www.sieversschool.com/" target="_blank"><%= image_tag 'sievers-school.jpg' %></a>
          </div>
          <div class="col-md-6">
            <a href="http://www.washingtonislandcanoeandkayakevent.com/" target="_blank"><%= image_tag 'canoe-and-kayak.jpg' %></a>
          </div>
          <div class="col-md-6">
            <%= image_tag 'group-tours.jpg' %>
          </div>
          <div class="col-md-6">
            <a href="http://www.capital-brewery.com/" target="_blank"><%= image_tag 'capital-brewery.jpg' %></a>
          </div>
          <div class="col-md-6">
            <a href="http://www.deathsdoorspirits.com/" target="_blank"><%= image_tag 'deaths-door-spirits.jpg' %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
