<% @title = "Kayaking and Canoeing Guide" %>
<% @description = "Kayaking around Washington Island and Door County, Wisconsin! Visit the Washington Island Ferry website for sites, rental info and more." %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>A Beautiful Lookout/Great Workout:<br>Kayaking Near the&nbsp;Island...</h1>
        <h2>From the Tip of Door County’s Peninsula—Visit Washington Island.</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8">
            <%= image_tag 'header-kayak.jpg', class: "header-img" %>

            <h1>Paddlesports Information</h1>
            <p>Spend some quiet time enjoying the serenity and beauty of Lake Michigan, Door County and our islands. Kayaking enthusiasts will find miles of pristine coastline and limitless open water. Grab a paddle and join the fun!</p>

            <p>Our handy <%= link_to "Kayaking Guide", '/downloads/kayak-brochure.pdf' %> contains a list of approximate distances for popular kayaking routes, a listing of launching and landing sites and a helpful aerial map of the island.</p>

            <p><%= link_to "Download Kayak Guide", '/downloads/kayak-brochure.pdf', :class => 'btn btn-default' %></p>

            <h2>Safety Tips</h2>
            <ul>
              <li>Seas may be short and choppy and the water cold. Fog is common. Always wear your PFD.</li>
              <li>Paddle with caution due to frequent ferry traffic and commercial shipping traffic.</li>
              <li>Rather than pushing your abilities, transport your kayak to the island on the ferry deck for a charge. There is no charge for car-top kayaks driven onto the ferry.</li>
              <li>If you paddle to Washington Island but would like your car ferried, please contact the ferry line ticket agent or captain for arrangements.</li>
              <li>Please respect the rights of shoreline property owners.</li>
            </ul>

          </div>

          <hr class="visible-sm visible-xs">

          <div class="col-md-4">
            <%= image_tag 'kayak-beach-lg.jpg' %>
            <p class="caption">Washington Island offers paddling opportunities for kayakers of all skill levels.</p>
            <%= image_tag 'kayak-group-lg.jpg' %>
            <p class="caption">The island shoreline provides breathtaking views for kayakers.</p>
            <%= image_tag 'canoe-lilypads-lg.jpg' %>
            <p class="caption">Experience the island’s natural habitats from a canoe.</p>
            <%= image_tag 'kayaks-lighthouse-lg.jpg' %>
            <p class="caption">Kayakers off the shore near Plum Island’s Rear Range Light.</p>
            <%= image_tag 'paddling-lg.jpg' %>
            <p class="caption">Open water offers advanced kayakers an added challenge.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
