<% @title = "Plan a trip to Washington Island in Door County, Wis." %>
<% @description = "Plan your Washington Island trip during a Door County, Wisconsin get-a-way. Visit the Washington Island Ferry website for all the inside information." %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Where to Stay, Dine and Play on Washington Island...</h1>
        <h2>From the Tip of Door County’s Peninsula—Visit Washington Island.</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8">
            <p>There’s so much to do on Washington Island! Whether you are a <a href="/kayak">kayak</a> enthusiast, <a href="/birding">bird watcher</a> or just want to explore a beautiful and historic Great Lakes treasure, you and your family will remember time spent on Washington Island!</p>

            <p><a href="/ride-ferry">Start your journey</a> today!</p>

            <hr>

            <h1>Plan Your Trip, Step by Step...</h1>
            <h2>1. Accomodations</h2>
            <p>From simple campsites to cottages on the shore, there are many options for island accommodations.</p>
            <ul class="col-md-6">
              <li><a href="http://www.wisconsincottagerentals.org/map-directions" target="_blank">Above And Beyond Cottage</a> 843-442-8949</li>
              <li>Bitter End Motel 877-635-7367</li>
              <li>*Bread & Water 920-847-2400</li>
              <li><a href="http://www.washingtonislandcottages.com/" target="_blank">CascioCottages.com</a> 414-427-0850</li>
              <li>Cedar Lodge 920-535-0126</li>
              <li>*Cedar Point Inn 920-847-2180</li>
              <li>Cottage on the Bay 920-847-2311</li>
              <li>Deer Run Golf Course & Resort 920-847-2017</li>
              <li>Dor-Cros Inn 920-847-2126</li>
              <li>*<a target="_blank" href="http://www.doorcountyvacationrental.com">Door Passage Vacation Rentals</a> 920-847-2870</li>
              <li>*Findlay’s Holiday Inn 800-522-5469</li>
              <li>Flath’s Cottages 920-847-2325</li>
              <li>Froghollow Farm Bed & Breakfast 920-847-2835</li>
              <li>Funk’s Cottage 920-535-0008</li>
              <li>*Gibson’s West Harbor Resort 920-847-2225</li>
              <li>*Greengate Farm Country Rentals 920-847-2502</li>
              <li>Hansen’s Cottages 920-847-2260</li>
            </ul>
            <ul class="col-md-6">
              <li>Harbor View 920-847-2835</li>
              <li>Jackson Harbor Inn 920-847-2454</li>
              <li>Lindgren’s Sunrise Cottages 920-847-2021</li>
              <li>McDonald Cottages 920-847-2396</li>
              <li>Riola Shorthorn Farm Getaway 920-847-2678</li>
              <li>Rocky Ridge Farm 847-360-9313</li>
              <li>Shellswick’s Cottage 920-847-2368</li>
              <li>Summer Place 920-847-2285</li>
              <li>Sunset Resort 920-847-2531</li>
              <li>*Townliner Motel 920-847-2422</li>
              <li>*Viking Village Motel 920-847-2551</li>
              <li>*Watermark Inn 920-847-2183</li>
              <li>Westside Lakefront House 865-604-6451 or 920-535-0021</li>
              <li>Westwind 920-847-2517</li>
              <li>W.I. Homestead Lodging 920-847-2870/2478</li>
              <h3>Camping</h3>
              <li><a href="http://www.washingtonislandcampground.com/" target="_blank">Washington Island Campgrounds LLC</a> 920-847-2622</li>
              <li><a href="http://dnr.wi.gov/topic/parks/name/rockisland/" target="_blank">Rock Island State Park</a> 920-847-2235</li>
            </ul>

            <p>* Open all year</p>

            <a href="http://washingtonisland-wi.com/category/business-directory/accommodations/" target="_blank" class="btn btn-default btn-lg">More information</a>

            <h2>2. Dining</h2>
            <p>Fuel up for island fun with delicious island fare.</p>
            <ul>
              <li>Albatross Drive-In 920-847-2203</li>
              <li>Bread & Water Bakery Café 920-847-2400</li>
              <li>The Danish Mill 920-847-2632</li>
              <li>Deer Run Golf Resort 920-847-2017</li>
              <li>Fiddler’s Green 920-847-2610</li>
              <li>Findlay’s Holiday Inn 800-522-5469</li>
              <li>Island Pizza 920-847-3222</li>
              <li>Karly’s Bar & The Cellar Restaurant 920-847-2655</li>
              <li>KK Fiske & The Granary 920-847-2121</li>
              <li>Nelson’s Hall Bitters Pub & Restaurant 920-847-2496</li>
              <li>Red Cup Coffee House 920-847-3304</li>
              <li>Sailor’s Pub Restaurant 920-847-2105</li>
              <li>Ship’s Wheel Restaurant 920-847-2640</li>
              <li>Sunset Resort 920-847-2531</li>
              <li>Time Out Concessions</li>
            </ul>

            <a href="http://washingtonisland-wi.com/category/business-directory/restaurants/" target="_blank" class="btn btn-default btn-lg">More information</a>

            <h2>3. Activities</h2>
            <p>From beautiful sunrises to relaxing sunsets, Washington Island days—and nights—are filled with activities and interesting things to do!</p>
            <ul>
              <li><a href="/cherry-train/">Cherry Train Tours</a></li>
              <li><a href="/island-events/">Event Calendar</a></li>
              <li><a href="/birding/">Bird Watching</a></li>
              <li><a href="/kayak/">Kayaking</a></li>
              <li><a href="http://www.doorcounty.com/" target="_blank">Door Co. Chamber of Commerce</a></li>
              <li><a href="http://washingtonisland-wi.com/" target="_blank">Washington Island Chamber of Commerce</a></li>
              <li><a href="http://dnr.wi.gov/topic/parks/name/rockisland/" target="_blank">Rock Island State Park</a></li>
            </ul>

            <h2>4. Getting Around</h2>
            <p>Because of distances, transportation is recommended. You can bring your car, van, truck, motorcycle or bike. Bike and moped rentals are available adjacent to the Island Ferry Terminal. You can also take an <a href="/cherry-train">island tour</a>.</p>
            <ul>
              <li>Cherry Train Tours: 920-847-2546, <a href="http://cherrytrain.com" target="_blank">cherrytrain.com</a></li>
              <li>Bike Rental: available on island dock</li>
              <li>Moped Rental: available near island dock</li>
              <li>Group Tours: 920-847-2146</li>
              <li>Island Shuttle: 920-535-0617</li>
            </ul>

            <h2>5. Don't Forget</h2>
            <p>To get the most out of your island adventure come prepared.</p>
            <ul>
              <li>Sunscreen/Sunglasses (Enjoy outdoor <a href="/island-events">events and activities</a>.)</li>
              <li>Camera (Capture the memories!)</li>
              <li>Binoculars (The island is great for <a href="/birding">bird watching</a>.)</li>
              <li>Dress for the weather. (Check the <a href="/weather">forecast</a> or view our <a href="/web-cam">webcam</a>.)</li>
            </ul>
          </div>
          <hr class="visible-sm visible-xs">
          <div class="col-md-4">
            <%= image_tag 'signs-lg.jpg' %>
            <p class="caption">Island signs on a winter day.</p>
            <%= image_tag 'camping-lg.jpg' %>
            <p class="caption">Full-service campsites are available on Washington Island. Backpacking and tent sites are available at <a href="http://dnr.wi.gov/topic/parks/name/rockisland/">Rock Island State Park</a>.</p>
            <%= image_tag 'detroit-harbor-lg.jpg' %>
            <p class="caption">Detroit Harbor aerial. (Photo by Ed Graf.)</p>
            <%= image_tag 'coffee-shop-lg.jpg' %>
            <p class="caption">The Danish Mill Coffee Shop</p>
            <%= image_tag 'red-cup-lg.jpg' %>
            <p class="caption">The Red Cup Coffee Shop</p>
            <%= image_tag 'farm-museum-lg.jpg' %>
            <p class="caption">Enjoy family fun at the Washington Island Farm Museum.</p>
            <%= image_tag 'fishing-lg.jpg' %>
            <p class="caption">Washington Island offers numerous fishing spots. Try both offshore trolling and inshore angling.</p>
            <%= image_tag 'golfing-lg.jpg' %>
            <p class="caption">Take part in outdoor sports such as golf, mini-golf or baseball.</p>
            <%= image_tag 'rock-island-lg.jpg' %>
            <p class="caption"><a href="http://dnr.wi.gov/topic/parks/name/rockisland/">Rock Island State Park</a></p>
            <%= image_tag 'cherry-train-lg.jpg' %>
            <p class="caption">The famous Cherry Train Tours have showcased island highlights since 1963.</p>
            <%= image_tag 'motorcyclists-lg.jpg' %>
            <p class="caption">Motorcycle enthusiasts often take the ferry for island touring.</p>
            <%= image_tag 'beach-lg.jpg' %>
            <p class="caption">Spend a sunny day on the smooth stones of Schoolhouse Beach where the waters are clear and refreshing.</p>
            <%= image_tag 'hwy42-northport-lg.jpg' %>
            <p class="caption">Picturesque Hwy 42 on the way to Northport Pier.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
