<% @title = "Rock Island Frequently Asked Questions" %>
<% @description = "Learn answers to all your questions about Door County's Rock Island and the Karfi Ferry in beautiful northeast Wisconsin." %>

<!-- WBAY Retargeting Pixel -->
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=eqfrxlx&ct=0:ei5bm8a&fmt=3"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-intro">
        <h1>Curious About the Karfi and Rock Island?</h1>
        <h2>Info and Tips on a Trip to Rock Island...</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-content">
        <div class="row">
          <div class="col-md-8">
            <%= image_tag 'header-rock-island.jpg', :class => 'header-img' %>
            <h1>Downloads</h1>
            <ul>
              <li><%= link_to 'Ferry brochure', '/downloads/ferry-brochure.pdf' %></li>
              <li><%= link_to 'Washington Island map', '/downloads/island-map.pdf' %></li>
              <li><%= link_to 'Rock Island map', '/downloads/rock-island-map.pdf' %></li>
            </ul>

            <hr>

            <h1>Frequently Asked Questions</h1>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do I get from the Door Peninsula to Rock Island?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    Take the <a href="/washington-island-ferry">Washington Island Ferry</a> (30 min. trip) from Northport Pier—end of State Hwy. 42—to Washington Island. Then, it’s approximately 8 miles (20 min.) across Washington Island, from Detroit Harbor to Jackson Harbor, where the Karfi (the ferry to Rock Island) is located. Allow time for parking your car (free!) and unloading your gear before boarding the Karfi. Note: Make sure to observe scheduled leaving times for the Karfi.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Where can I park? Do I need a Wisconsin State Park Sticker?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <p>Park in the State Park lot, adjacent to the State dock in Jackson Harbor. No stickers are required, and there is no entry fee to visit Rock Island. But, you’ll need your ticket for the Karfi (you may buy combination round trip tickets for both ferries at Northport Pier).</p>

                    <p>If you intend to camp on Rock Island, <a href="http://dnr.wi.gov/topic/parks/name/rockisland/">reserve your campsite</a> through the State’s website. On busy summer weekends, that is the only way you can be assured of a campsite on Rock Island. Of course, for day visits, you may simply park and cross on the Karfi, with no entry fees required for Rock Island.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Are bicycles allowed on Rock Island?
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    No, Rock Island State Park does not permit bicycling.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                      Can I use a cart or wagon for hauling my camping gear?
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    Yes, wagons and carts may be used to transport gear from the Karfi dock to your campsite. There is an additional ferry fee for wagons or carts to transport camping gear.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                      What sort of camping experience will I find on Rock Island?
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    <p>Rock Island has “rustic” sites for tent camping. Campsites have fire rings and grills. Pit toilets are near the camping area and there is an indoor toilet (water flush) but not public showers. There is a beach nearby for swimming. No supplies are sold on Rock Island so bring your necessary food and supplies.</p>

                    <p>The Rock Island Ranger advises packing in only what is necessary for your stay. Be prudent in your packing. Packaging and garbage must then be carried out from Rock Island by park staff!</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false">
                      What about bringing my dog?
                    </a>
                  </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    Yes, dogs on leash are permitted on Rock Island. Be responsible for your pet, and respect other campers. Please clean up after your pet, even in the State Park woods.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false">
                      What sort of activities will I find in Jackson Harbor?
                    </a>
                  </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    Jackson Harbor on Washington Island is an old fishing community. Near the Town Dock you will find the Jackson Harbor Maritime Museum, featuring commercial fishing history. The “Time Out” concession next to the museum sells soda, hot dogs, ice cream, popcorn and other snacks. A conservancy area is adjacent to the beach, with interpretive trails. Rock Island State Park offices are at the head of the State Dock property in Jackson Harbor. (During the summer season the staff is based on Rock Island.)
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false">
                      How good is cell phone coverage from Rock Island?
                    </a>
                  </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    Fair to good. New cell towers were installed on Washington Island two years ago and coverage greatly improved. There are “shadow” areas behind bluffs. Your phone’s digital clock may adjust to nearby Upper Michigan (EDST) time from cell towers located there.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false">
                      What about medical emergencies?
                    </a>
                  </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    Call 911! First aid can be administered with help of Park staff, or at the Washington Island Clinic. Serious medical emergencies will require the aid of the Washington Island Rescue Squad, Clinic staff (and sometimes the U. S. Coast Guard). Patients may be transported to the mainland from Detroit Harbor by special ferry to Northport. Rock Island’s Park Ranger, when notified, will help expedite emergency services by alerting the necessary emergency care providers.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false">
                      Can I take a canoe, kayak or boat to Rock Island?
                    </a>
                  </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    <p>Yes. You may beach paddleboats near your campsite. Larger craft may moor near the boathouse, depending upon available dock space. A fee is charged for mooring overnight at Rock Island State Park dock. Jackson Harbor has a free boat launch ramp at the State Park dock on Washington Island.</p>

                    <p><strong>Safety Warning!</strong> For your safety, please be aware of impending weather, wind and wave conditions. Currents, and even submerged rocks, may also present a hazard. Always wear your PFD when boating, and let others know where you’re headed and what your objectives are.</p>

                    <p><a href="/downloads/kayak-brochure.pdf">Download Kayak Guide</a></p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false">
                      What sort of entertainment activities—for me or for my family—are on Rock Island?
                    </a>
                  </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    <p>Foremost, you will find Rock Island to be rugged and scenic, but yet very friendly for hiking. There are well-marked nature trails, and a park naturalist offers his knowledge of plants, geology and the history of Rock Island’s early inhabitants.</p>

                    <p>Two unique structures on Rock Island provide a wonderful historical perspective—the Pottawatomie Lighthouse and the Thordarson Boathouse. The boathouse is at the park entrance and is open daily for self-guided visits. In season, docents who live in the lighthouse will educate visitors about Rock Island’s light keeping history. Excellent books have been published that describe Rock Island’s history. These books describe the periods of early native inhabitants, French voyageurs (including LaSalle), the fishing village pioneers, and the Rock Island estate of C. H. Thordarson—all of which predated this Wisconsin State Park. (You will find these books available on Washington Island or by contacting the Washington Island Ferry Line.)</p>

                    <p>There are many things to see and do, and a several-day visit may not be long enough! Your experience may persuade you to return again and again.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false">
                      How can I learn more about Rock Island and its history?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    <p>Besides local history books, a good way to learn and become involved with Rock Island is to join the <a target="_blank" href="http://www.fori.us/">Friends of Rock Island</a> (called FORI). FORI Members are from everywhere, not only Wisconsin. They have an abiding passion for nature, history and for the lighthouse on Rock Island. This is a volunteer organization, but even if you’re not able to volunteer, your financial support helps to keep the many facets of Rock Island going, and in turn, FORI support makes Rock Island’s camping and visitor experience that much richer for everyone.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false">
                      Are there Karfi group rates for large numbers of campers, church groups or scouting groups?
                    </a>
                  </h4>
                </div>
                <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    Yes: group rates for organized groups of 15 or more. Groups must board together and one person must pay all fees. Make arrangements in advance with the Ferry Line office at 800-223-2094 or contact us by email <a href="mailto:info@wisferry.com">info@wisferry.com</a>.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false">
                     If I visit Rock Island and stay until the Karfi’s last trip of the day, can I then catch the last Washington Island Ferry back to the Door Peninsula?
                    </a>
                  </h4>
                </div>
                <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    Yes. The Karfi schedule accounts for sufficient drive time to cross Washington Island by car and reach Detroit Harbor where the Washington Island Ferry docks. But if you’re still in doubt, or the Karfi is “behind schedule” (due to weather, etc.) ask the Captain to place a call on your behalf, so that you make your connection back to the mainland.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="visible-sm visible-xs">

          <div class="col-md-4">
            <%= image_tag 'boat-house-lg.jpg' %>
            <p class="caption">The impressive Rock Island boathouse welcomes visitors to the state park.</p>
            <%= image_tag 'karfi-lg.jpg' %>
            <p class="caption">Karfi Ferry at Rock Island</p>
            <%= image_tag 'potato-dock-lg.jpg' %>
            <p class="caption">Dock near the boathouse on Rock Island</p>
            <%= image_tag 'jackson-harbor-lg.jpg' %>
            <p class="caption">State park dock at Jackson Harbor on Washington Island</p>
            <%= image_tag 'rock-island-building-lg.jpg' %>
            <p class="caption">Interior of the Thordarson boathouse at Rock Island State Park</p>
            <%= image_tag 'pottawatomie-2018-lg.jpg' %>
            <p class="caption">The Pottawatomie Lighthouse Museum is open for tours from Memorial Day to Columbus Day.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
